<main class="container-fluid">
    <div class="row mainInner">
        <nav class="col-12 header d-flex align-items-center px-0">
            <div class="row mx-0 innerheader align-items-center w-100">
                <div class="col-auto notification">
                    <a [routerLink]="'/dashboard/more'" type="button" class="notificationIcon shadow-none bg-transparent p-0 border-0"><img src="assets/svg/icons/leftCricleArrow.png" class="w-100" alt="bell"></a>
                </div>
                <div class="col"><div class="title text-white text-center">Legality</div></div>
                <div class="col-auto notification">
                    <div class="notificationIcon"></div>
                </div>
            </div>
        </nav>
        <div class="col-12 py-3 flex-fill overflow-y-auto h-100" data-page-name="treamsConditionPage" data-scrollbar>
            <div class="row gap-5 treamsConditionMain">
                <div class="col-12">
                    <div class="heading fs-14 fw-bold mb-1">GAME OF SKILLS</div>
                    <div class="txt fs-12 mb-2">
                        ImgFantasy is considered as a “Game of Skill.” The game of skills can be defined as a game wherein the skills of the individuals participating in any online fantasy sports gaming play a dominant role rather than the mere luck of the individuals. The individuals in game of skills use their knowledge, skills, training and attention for participation and winning.
                        <br><br>
                        fantasy sports gaming is considered to be a legal practice around the world with certain states being an exception. Online fantasy sports gaming is entirely based on the concept of Game of Skills, wherein the users form their own teams and are allocated points on the basis of on-field performance of their chosen players.
                        <br><br>
                        ImgFantasy is completely legal as it offers services, Fun Features, Program(s) and Contest(s) related to fantasy cricket, fantasy football, fantasy kabaddi, fantasy volleyball, fantasy basketball & fantasy hockey. The services, contest(s) and program(s) related to online fantasy sports gaming offered by ImgFantasy enables its users to create their own team prior the match begins and then the teams are awarded points on the basis of the real-life performance of the players chosen by the users in the team. The individual whose team scores the highest aggregate of points is announced as the winner. The formation of team by the users of ImgFantasy is entirely dependent on the skills, knowledge and attention of the users which makes online fantasy sports gaming offered at ImgFantasy a game of skills and 100% legal.
                    </div>
                    <div class="heading fs-14 fw-bold mb-1">Alignment With The Indian Laws</div>
                    <div class="txt fs-12 mb-2">
                        The game of skills such as the online fantasy sports gaming are considered to be legal all over India. expect certain states such as Sikkim, Assam, Odisha, Telangana, Nagaland and Andhra Pradesh. The Public Gambling Act, 1867 (“PGA, 1867”) is recognized as the primary legality driving the prevalence of gambling in India
                        <br><br>
                        The PGA defines the act of “public gambling” and the keeping of a common gaming house as a criminal and punishable act in India. However, the online fantasy sports gaming is considered to be an exception under the PGA, wherein the provisions and punishments of PGA shall not be applicable to games played by the user using their skills and knowledge as primary tools.
                    </div>
                    <div class="heading fs-14 fw-bold mb-1">Sikkim, Assam, Odisha, Telangana & Nagaland</div>
                    <div class="txt fs-12 mb-2">
                        There are various states in India wherein the laws related to the game of skills are unclear. In this regard, for the websites offering online fantasy sports gaming, it remains unclear whether to offer the services for free or not. The Indian states with no clearance regarding the offering of pay-to-play contests include Sikkim, Assam, Odisha, Telangana and Nagaland.
                        <br><br>
                        In this context, ImgFantasy does not permit the users identified as the residents of Sikkim, Odisha, Telangana, Assam, Nagaland and Andhra Pradesh to participate in the pay-to-play contest(s) organised by ImgFantasy.
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>