<main class="container-fluid">
    <div class="row mainInner">
        <nav class="col-12 header d-flex align-items-center px-0">
            <div class="row mx-0 innerheader align-items-center w-100">
                <div class="col-auto notification">
                    <a [routerLink]="'/dashboard/more'" type="button" class="notificationIcon shadow-none bg-transparent p-0 border-0"><img src="assets/svg/icons/leftCricleArrow.png" class="w-100" alt="bell"></a>
                </div>
                <div class="col"><div class="title text-white text-center">About Us</div></div>
                <div class="col-auto notification">
                    <div class="notificationIcon"></div>
                </div>
            </div>
        </nav>
        <div class="col-12 py-3 flex-fill overflow-y-auto h-100" data-page-name="treamsConditionPage" data-scrollbar>
            <div class="row gap-5 treamsConditionMain">
                <div class="col-12">
                    <div class="txt fs-12 mb-2">
                      ImgFantasy is a Daily Fantasy sports platform that empowers serious and casual sports enthusiasts to play cash based quick.
                        <br><br>
                        Simple and interesting games.
                        <br><br>
                        Quicktest version of fantasy sports where users can create a team,enter leagues and win cash prizes at the end of every game.
                        <br><br>
                        Yes! Every game! Now there is no need to wait for season to get over to earn prizes.
                        <br><br>
                        Our aim is to increase sports fan engagement and improve viewership for sports by making matches interesting for our user.
                        <br><br>
                        We provide different types of leagues in all international, Domestic ODI, T20,Text Matches in cricket, English Primere League.
                        <br><br>
                        Champion Trophy,World Cup,ETC.
                        <br><br>
                        Check out different league formats below!
                        <br><br>
                        We use Data Analytics and machine learning to help our users draft teams,analyse their playing behaviour and help them to improve their fantasy skill.
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>