<main class="container-fluid">
    <div class="row mainInner bg-white">
        <nav class="col-12 header py-3">
            <div class="row align-items-center h-100">
                <div class="col-auto">
                    <a [routerLink]="''" class="backBtn d-flex align-items-center justify-content-center">
                        <img class="w-100" src="assets/svg/icons/leftCricleArrow.png" alt="">
                    </a>
                </div>
                <div class="col">
                    <div class="title text-white text-center">Enter Password</div>
                </div>
                <div class="col-auto">
                    <div class="backBtn"></div>
                </div>
            </div>
        </nav>
        <div class="col-12 px-0 flex-fill" data-page-name="enterPasswordPage" data-scrollbar>
            <div class="row h-100 mainCenterPart">
                <div class="col-12">
                    <div class="topPart text-center pt-4">
                        <div class="imgOuter mx-auto">
                            <img src="assets/svg/img/img_logo.jpeg" alt="" height="50" width="50">
                        </div>
                        <div class="title text-white text-center mt-2">Khelega India Jitega India</div>
                    </div>
                    <div class="formOuter bg-white p-3 pt-4 pb-4 mx-4 shadow">
                        <form action="" class="form border-0" [formGroup]="passwordForm" (ngSubmit)="submit()">
                            <div class="row gap-3">
                                <div class="col-12">
                                    <div class="input-group position-relative">
                                        <input [type]="showPassword ? 'password' : 'text'" class="form-control shadow-none py-2" placeholder="Password" aria-label="" aria-describedby="" formControlName="pass">
                                        <span class="showPass position-absolute align-items-center d-flex justify-content-center"><img (click)="togglePasswordVisibility()" class="w-100" [src]="showPassword ?'assets/svg/icons/visibility.png':'assets/svg/icons/visibility-off.512x443.png'" alt=""></span>
                                    </div>
                                    <div class="otpverfication text-danger fw-bold mt-1" [style.color]="'red'" *ngIf="f['pass'].touched && f['pass'].errors?.['required']">*Password Required</div>
                                    <span class="tagLine text-black">Please entre your password for verification</span>
                                </div>
                                <div class="col-12 px-5 text-center d-flex flex-column gap-4">
                                    <button type="submit" class="btn btn-theme1 border-0 btnStyle1 text-white w-100">Login</button>
                                    <a [routerLink]="'/auth/password-verify'" class="text-theme2 footerLink text-decoration-underline">Forget Password ?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="col-12 footer py-3">
            <!-- <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="footerLink text-center">Not a Member? <a href="registerPage.html" class="text-decoration-underline">Register</a></div>
                </div>
            </div> -->
        </footer>
    </div>
</main>