@import "../../../../variables";

 .cricketheader {
            border-radius: 0 0 10px 10px !important;
            z-index: 1;
            & .navtab {
                & .nav-item {
                    & .nav-link {
                        font-size: 12px;
                        font-weight: 600;
                        transition: all 0.3s;
                        border-bottom: 2px solid transparent;
                        & .gamesheading {
                            line-height: 100%;
                        }
                        &.active{
                            background: transparent;
                            border-color:  $theme2;
                            color: $theme2 !important;
                        }
                    }
                }
            }
        }
         .matchesCard {
            box-shadow: 0px 0px 6px rgba($black, 0.08);
            & .card-body {
                & .teamHeadline {
                    & .matchteams, & .notificationOut {
                        font-size: 11px;
                    }
                    & .notificationOut {
                        color: lighten($info, 10);
                    }
                    & .lineupsImg {
                        width: 18px;
                    }
                }
                & .innerBody {
                    & .leftSideTeams {
                        & .teamLogo {
                            &::before{
                                left: -50%;
                                transform: translate(0%, -50%);
                                // background: rgba($warning, 0.3);
                            }
                        }
                    }
                    & .rightSideTeams {
                        & .teamLogo {
                            &::before{
                                right: -50%;
                                transform: translate(0%, -50%);
                                // background: rgba($success, 0.3);
                                
                            }
                        }
                    }
                    & .numberOffContest{
                        font-size: 10px;
                        padding-top: 3px;
                        padding-bottom: 3px;
                        background-color: lighten($theme2, 48);
                    }
                    &.firstMatchBody {
                        & .leftSideTeams {
                            & .teamLogo {
                                &::before{
                                    background: rgba($warning, 0.3);
                                }
                            }
                        }
                        & .rightSideTeams {
                            & .teamLogo {
                                &::before{
                                    background: rgba($success, 0.3);
                                    
                                }
                            }
                        }
                    }
                    &.secondMatchBody {
                        & .leftSideTeams {
                            & .teamLogo {
                                &::before{
                                    background: rgba($success, 0.3);
                                }
                            }
                        }
                        & .rightSideTeams {
                            & .teamLogo {
                                &::before{
                                    background: rgba($info, 0.4);
                                }
                            }
                        }
                    }
                    &.threedMatchBody {
                        & .leftSideTeams {
                            & .teamLogo {
                                &::before{
                                    background: rgba($info, 0.4);
                                }
                            }
                        }
                        & .rightSideTeams {
                            & .teamLogo {
                                &::before{
                                    background: rgba($warning, 0.3);
                                }
                            }
                        }
                    }
                    & .firstTeamsName {
                        font-size: 12px;
                    }
                    & .team {
                        & .teamLogo {
                            width: 40px;
                            height: 40px;
                            z-index: 0;
                            &::before{
                                content: "";
                                height: 20px;
                                width: 100%;
                                position: absolute;
                                top: 50%;
                                z-index: -1;
                            }
                        }
                        & .teamName {
                            font-size: 10px;
                        }
                    }
                    & .matchTimer {
                        & .pichTime {
                            font-size: 10px;
                            color: $theme2;
                        }
                    }
                    & .imgOuter {
                        width: 20px;
                    }
                    & .progress{
                        height: 3px;
                        & .progress-bar {
                            background-color:lighten(black, 20);
                            border-radius: 0 50px 50px 0;
                        }
                    }
                    & .badges {
                        top: 0;
                        bottom: 0;
                        left: 8px;
                        margin: auto;
                        & .badge {
                            width: 20px;
                            height: 20px;
                        }
                        & .borderBage {
                            & .badge1 {
                                background-color: darken($theme1, 10);
                                &:last-child{
                                    border: 2px solid darken($theme1, 10);
                                }
                            }
                        }
                    }
                }
            }
        }
         .winStatus {
            font-size: 12px;
            border-radius: 0 0 6px 6px;
            background-color: darken($info, 20);
        }
         table {
            &.table {
                & thead {
                    & tr {
                        & th {
                            font-weight: normal;
                            & .icon {
                                width: 16px;
                                height: 16px;
                                & img {
                                    filter: invert(1);
                                }
                            }
                        }
                    }
                }
                & tbody {
                    vertical-align: baseline;
                    & tr {
                        & td {
                            border: none;
                        }
                    }
                }
            }
        }
         .teamDetail {
            & .imgOuter {
                width: 32px;
                height: 32px;
                & img {
                    object-fit: cover;
                    object-position: center top;
                }
            }
        }
         .winningAmount {
            font-size: 14px;
        }
         .myRank {
            font-size: 14px;
            & .icon {
                width: 16px;
                height: 16px;
            }
        }