.row{
    justify-content: center;
}

.custom_btn{
    text-decoration: none;
    background-color: #ac0135;
    padding: 10px 70px;
    border-radius: 50px; 
    color: white;
    font-weight:700 ;
    font-size:large;
    cursor: pointer;
}

h1{
    font-size: 131px;
    color: #114ac1;
    text-shadow: 0 3px 10px rgba(0,0,0,.16);
    font-weight: 800;
}

