<main class="container-fluid text-center">
    <div class="row mainInner">
        <div class="data_white_bg error_detail">
            <p class="fw-bold fs-4 text-muted">Sorry, this page isn't available.</p>
            <!-- <h1>404</h1> -->
            <img src="https://www.mygames11.com/assets/img/index/about_img2.png" alt="" width="300">
            <p class="mb-4">The link you followed may be broken, or the page may have been removed.</p>
            <a class="custom_btn" routerLink="/dashboard" >GO TO HOME</a>
        </div>
    </div>
</main>