<!-- <main class="container-fluid"> -->
    <div class="row mainInner m-0 p-0">
        <nav class="col-12 header d-flex align-items-center px-0">
            <div class="row mx-0 innerheader align-items-center w-100">
                <div class="col-auto notification">
                    <a (click)="dialogRef.close()" type="button" class="notificationIcon shadow-none bg-transparent p-0 border-0"><img src="assets/svg/icons/leftCricleArrow.png" class="w-100" alt="bell"></a>
                </div>
                <div class="col">
                    <div class="title text-white text-center">Player Info</div>
                    <!-- <div class="matchTime text-center text-white fw-semibold ">00h:50m:03s</div> -->
                </div>
                <div class="col-auto notification">
                    <div class="backBtn"></div>
                </div>
            </div>
        </nav>
        <div class="col-12 px0 flex-fill h-100 overflow-y-auto" data-page-name="playerInformationTwoPage" data-scrollbar>
            <div class="row py3">
                <div class="col-12 px-0">
                    <div class="card border-0 overflow-hidden rounded-0">
                        <div class="row h-100 mx-0">
                            <div class="col-12 pt2 px-0 pb-0 border-bottom border-1 border-dark">
                                <div class="row mx-0 align-items-center">
                                    <div class="col-6 ps-0 d-flex justify-content-between align-items-center">
                                        <div class="imgouter mb-n3">
                                            <img src={{playerInfo.playerimage}} alt="error" class="w-100">
                                        </div>
                                        <div class="name fs-12 pe-4"> <strong> {{playerInfo.playername}}</strong></div>
                                    </div>
                                    <div class="col-6 py-2">
                                        <div class="fs-12">Total Points: {{playerInfo.playerpoints}}</div>
                                        <div class="fs-12 mt-1">Credits: {{playerInfo.playercredit}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row py-2 border-bottom border-dark">
                                    <div class="col-6 border-end border-dark">
                                        <div class="fs-12 text-center text-uppercase">{{playerInfo.battingstyle ? playerInfo.battingstyle : 'BATS'}}</div>
                                    </div>
                                    <div class="col-6">
                                        <div class="fs-12 text-center text-uppercase">{{playerInfo.bowlingstyle ? playerInfo.bowlingstyle : 'BOWLS'}}</div>
                                    </div>
                                </div>
                                <div class="row py-2 border-bottom border-dark">
                                    <div class="col-6 border-end border-dark">
                                        <div class="fs-12 text-center text-uppercase">{{playerInfo.playercountry ? playerInfo.playercountry : 'NATIONALITY'}}</div>
                                    </div>
                                    <div class="col-6">
                                        <div class="fs-12 text-center text-uppercase">{{playerInfo.playerdob ? playerInfo.playerdob : 'BIRTHDAY'}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row py-2 gap-3">
                                    <div class="col-12 heading text-center fs-14 fw-bold text-uppercase">Match Wise Fantasy Stats</div>
                                    <div class="col-12" *ngFor="let item of playerMatchesInfo">
                                        <div class="card shadow-sm">
                                            <div class="card-header p-2 py-1 border-0">
                                                <div class="fs-12">{{item.short_name}} &nbsp;&nbsp;{{item.matchdate}}</div>
                                            </div>
                                            <div class="card-body p-2"> 
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <ul class="m-0 list-unstyled p-0 fs-12">
                                                            <li class="fw-bold">Player Type</li>
                                                            <li>{{playerInfo.playerrole}}</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col text-center">
                                                        <ul class="m-0 list-unstyled p-0 fs-12">
                                                            <li class="fw-bold">Selection</li>
                                                            <li>{{item.selectper}}</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-auto text-end">
                                                        <ul class="m-0 list-unstyled p-0 fs-12">
                                                            <li class="fw-bold">Points</li>
                                                            <li>{{item.total_points}}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <footer class="col-12 footer bottomBar d-flex align-items-center">
            <div class="row mx-0 align-items-center innerBar w-100">
                <div class="col px-0 bottombarTabs text-center"><a href="home.html" class="linkTab text-decoration-none"><div class="gameImg mx-auto mb-1"><img src="assets/svg/icons/Home_Blue.png" class="h-100" alt="cricket"></div> <span class="gamesheading pt-1 d-flex justify-content-center">Home</span></a></div>
                <div class="col px-0 bottombarTabs text-center"><a href="myMatches.html" class="linkTab active text-decoration-none"><div class="gameImg mx-auto mb-1"><img src="assets/svg/icons/My_Matches_blue.png" class="h-100" alt="cricket"></div> <span class="gamesheading pt-1 d-flex justify-content-center">My Matches</span></a></div>
                 <div class="col px-0 bottombarTabs text-center"><a href="profile.html" class="linkTab text-decoration-none"><div class="gameImg mx-auto mb-1"><img src="assets/svg/icons/Profile_blue.png" class="h-100" alt="cricket"></div> <span class="gamesheading pt-1 d-flex justify-content-center">Profile</span></a></div>
                <div class="col px-0 bottombarTabs text-center"><a href="otherMenu.html" class="linkTab text-decoration-none"><div class="gameImg mx-auto mb-1"><img src="assets/svg/icons/More_blue.png" class="h-100" alt="cricket"></div> <span class="gamesheading pt-1 d-flex justify-content-center">More</span></a></div>
            </div>
        </footer> -->
    </div>
<!-- </main> -->