<main class="container-fluid">
    <div class="row mainInner bg-white">
        <nav class="col-12 header py-3">
            <div class="row align-items-center h-100">
                <div class="col-auto"><a [routerLink]="'/dashboard/info-setting'" class="backBtn d-flex align-items-center justify-content-center"><img class="w-100" src="assets/svg/icons/leftCricleArrow.png" alt=""></a></div>
                <div class="col"><div class="title text-white text-center">Change Password</div></div>
                <div class="col-auto"><div class="backBtn"></div></div>
            </div>
        </nav>
        <div class="col-12 px-0 flex-fill" data-page-name="changePasswordPage" data-scrollbar>
            <div class="row h-100 mainCenterPart">
                <div class="col-12">
                    <div class="topPart text-center pt-4">
                        <div class="imgOuter mx-auto">
                            <img src="assets/svg/img/img_logo.jpeg" alt="" height="50" width="50">
                        </div>
                        <div class="title text-white text-center mt-2">Khelega India Jitega India</div>
                    </div>
                    <div class="formOuter bg-white p-3 pt-4 mx-4 shadow">
                        <form action="" class="form border-0" [formGroup]="changePassword">
                            <div class="row gap-3">
                                <div class="col-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control shadow-none py-2" placeholder="Old Password" formControlName="oldpassword" aria-label="" aria-describedby="">
                                    </div>
                                    <div class="otpverfication text-danger fw-bold" *ngIf="f['oldpassword'].touched && f['oldpassword'].errors?.['required']">*Password Required</div>
                                    <div class="otpverfication text-danger fw-bold" *ngIf="f['oldpassword'].touched && f['oldpassword'].errors?.['minlength']">*Password should be of 8 characters</div>
                                    <span class="tagLine text-black">Password should be of 8 characters</span>
                                </div>
                                <div class="col-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control shadow-none py-2" placeholder="New Password" formControlName="newpassword" aria-label="" aria-describedby="">
                                    </div>
                                    <span class="otpverfication text-danger fw-bold" *ngIf="f['newpassword'].touched && f['newpassword'].errors?.['required']">*Password Required</span>
                                    <span class="otpverfication text-danger fw-bold" *ngIf="f['newpassword'].touched && f['newpassword'].errors?.['minlength']">*Password should be of 8 characters</span>
                                </div>
                                <div class="col-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control shadow-none py-2" placeholder="Confirm Password" formControlName="confirmpassword" aria-label="" aria-describedby="">
                                    </div>
                                    <span class="otpverfication text-danger fw-bold" *ngIf="f['confirmpassword'].touched && f['confirmpassword'].errors?.['required']">*Password Required</span>
                                    <span class="otpverfication text-danger fw-bold" *ngIf="f['confirmpassword'].errors?.['confirmedValidator'] && f['confirmpassword'].touched">*Password Does Not Match</span>
                                </div>
                                <div class="col-12 px-5 text-center my-4">
                                    <button type="button" class="btn  btn-theme1 border-0 btnStyle1 bw-bold  text-white w-100" (click)="submit()">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>