@import "../../../../variables";

        .mainCenterPart {
            & .topPart {
                background-color: $theme1;
                height: 40%;
                & .imgOuter {
                    width: 160px;
                }
                & .title {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            & .formOuter {
                border-radius: 26px;
                margin-top: -112px;
                & form {
                    &.form {
                        & .tagLine {
                            font-size: 10px;
                        }
                        & .dividarTxt {
                            font-size: 14px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .otpverfication {
            font-size: 11px;
        }