<main class="container-fluid">
    <div class="row mainInner">
        <nav class="col-12 header d-flex align-items-center px-0">
            <div class="row mx-0 innerheader align-items-center w-100">
                <div class="col-auto notification">
                    <a [routerLink]="'/dashboard/more'" type="button" class="notificationIcon shadow-none bg-transparent p-0 border-0"><img src="assets/svg/icons/leftCricleArrow.png" class="w-100" alt="bell"></a>
                </div>
                <div class="col"><div class="title text-white text-center">Contact Us</div></div>
                <div class="col-auto notification">
                    <div class="notificationIcon"></div>
                </div>
            </div>
        </nav>
        <div class="col-12 py-3 flex-fill overflow-y-auto h-100" data-page-name="contactUsPage" data-scrollbar>
            <div class="row gap-5 contactUsMain">
                <div class="col-12 text-center mt-5">
                    <div class="icon mx-auto">
                        <img class="w-100" src="assets/svg/icons/whatsapp.png" alt="">
                    </div>
                    <div class="detail mt-2">
                        <div class="num fs-12 fw-semibold">+91 xxxxxxxxxx</div>
                        <div class="timing fs-12 fw-semibold">10:00am - 6:30pm (Mon-Fri)</div>
                    </div>
                </div>
                <div class="col-12 text-center mt-5">
                    <div class="icon mx-auto">
                        <img class="w-100" src="assets/svg/icons/email_contact.png" alt="">
                    </div>
                    <div class="detail mt-2">
                        <div class="num fs-12 fw-semibold">Customer Support Email</div>
                        <div class="timing fs-12 fw-semibold text-theme1 text-opacity-75">support@ImgFantasy.com</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <footer class="col-12 footer bottomBar d-flex align-items-center px-0">
            <div class="row mx-0 align-items-center innerBar w-100">
                <div class="col px-0 bottombarTabs text-center"><a href="home.html" class="linkTab text-decoration-none"><div class="gameImg mx-auto mb-1"><img src="assets/svg/icons/Home_Blue.png" class="h-100" alt="cricket"></div> <span class="gamesheading pt-1 d-flex justify-content-center">Home</span></a></div>
                <div class="col px-0 bottombarTabs text-center"><a href="myMatches.html" class="linkTab active text-decoration-none"><div class="gameImg mx-auto mb-1"><img src="assets/svg/icons/My_Matches_blue.png" class="h-100" alt="cricket"></div> <span class="gamesheading pt-1 d-flex justify-content-center">My Matches</span></a></div>
                <div class="col px-0 bottombarTabs text-center"><a href="profile.html" class="linkTab text-decoration-none"><div class="gameImg mx-auto mb-1"><img src="assets/svg/icons/Profile_blue.png" class="h-100" alt="cricket"></div> <span class="gamesheading pt-1 d-flex justify-content-center">Profile</span></a></div>
                <div class="col px-0 bottombarTabs text-center"><a href="otherMenu.html" class="linkTab text-decoration-none"><div class="gameImg mx-auto mb-1"><img src="assets/svg/icons/More_blue.png" class="h-100" alt="cricket"></div> <span class="gamesheading pt-1 d-flex justify-content-center">More</span></a></div>
            </div>
        </footer> -->
    </div>
</main>