@import "../../../../variables";


.mainCenterPart {
             background-color: $gray-200;
            & .chooseCaptain {
                background-color:lighten( #6C757D,40);
            }
            & .fs-14 {
                font-size: 14px;
            }
            & .fs-12{
                font-size: 12px;
            }
            & .fs-10{
                font-size: 10px;
            }
            & .fs-8 {
                font-size: 8px !important;
            }
            & .playersOuter{
                & .teamDetail {
                    & .imgOuter {
                        width: 35px;
                        height: 35px;
                        & img {
                            object-fit: cover;
                            object-position: center top;
                        }
                    }
                    & .teamName{
                        left: -12px;
                        bottom: -8px;
                    }
                    & .playingStatus {
                        & span {
                            display: block;
                            width: 8px;
                            height: 8px;
                        }
                        &.play {
                            color: $success;
                            & span {
                                background-color: $success;
                            }
                        }
                        
                        &.notPlay {
                            color: $theme2;
                            & span {
                                background-color: $theme2;
                            }
                        }
                    }
                }
                    & .select{
                        & span {
                            width: 22px;
                            height: 22px;
                            border: 2px solid lighten($success, 10);
                            color: lighten($success, 10);
                            font-size: 18px;
                            font-weight: bold;
                            &:nth-child(2){
                                border-color: $theme2;
                                color: $theme2;
                            }
                        }
                    }
                & .player{
                    background-color: $white;
                    & .form-check-input{
                        &:checked {
                            &~label {
                                background-color: lighten($success, 55);
                                & .select{
                                    & span {
                                        display: none !important;
                                        &:nth-child(2){
                                            display: flex !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    & label {
                        cursor: pointer;
                    }
                    & .winningAmount {
                        & .captainLabel {
                            width: 22px;
                            height: 22px;
                            border: 2px solid $black;
                            font-size: 10px;
                        }
                        & .caprainInput {
                            &:checked~label{
                                background-color: rgba($black, 0.8);
                                color: $white;
                                
                            }
                        }
                    }
                }
            }
        }


        .modal {
            &.selectedPlayer {
                .bgImg {
                    background-image: url(../../../../assets/svg/img/teamBg.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    & .logo{
                        width: 100px;
                    }
                    & .btn-close{
                        opacity: 1;
                        filter: invert(1);
                    }
                    & .plyerOuter{
                        & .img{
                            width: 40px;
                            height: 40px;
                        }
                        & .player {
                            & .name {
                                font-size: 10px;
                                padding: 2px 6px;
                            }
                        }
                        &.caption{
                            &:before {
                                content: 'C';
                                width: 18px;
                                height: 18px;
                                border-radius: 50px;
                                background-color: $dark;
                                color: $white;
                                align-items: center;
                                display: flex;
                                justify-content: center;
                                font-size: 10px;
                                position: absolute;
                            }
                        }
                        &.vCaption{
                            &:before {
                                content: 'VC';
                                width: 18px;
                                height: 18px;
                                border-radius: 50px;
                                background-color: $white;
                                color: $dark;
                                align-items: center;
                                display: flex;
                                justify-content: center;
                                font-size: 10px;
                                position: absolute;
                            }
                        }
                    }
                }
            }
        }

        .navBg{
            background-color:#6C757D;
        }