<main class="container-fluid">
    <div class="row mainInner">
        <nav class="col-12 header d-flex align-items-center">
            <div class="row mx-0 innerheader align-items-center w-100">
                <div class="col-auto profile">
                    <div class="userImage rounded-circle border border-2 border-white overflow-hidden" data-bs-toggle="offcanvas" data-bs-target="#offcanvasProfile" aria-controls="offcanvasProfile"><img src={{userDetail.image}} class="w-100 h-100" alt="Profile"></div>
                </div>
                <div class="col">
                    <div class="gamesLogo px-4 text-center"><img src="assets/svg/img/img_logo.jpeg" alt="" height="30" width="30"></div>
                </div>
                <div class="col-auto notification">
                    <div class="row mx-0 gap-3 align-items-center">
                        <div class="col-auto px-0"><button type="button" [routerLink]="'/dashboard/notification'" class="notificationIcon shadow-none bg-transparent p-0 border-0"><img src="assets/svg/icons/bell_whire_color.png" class="w-100" alt="bell"></button></div>
                        <div class="col-auto px-0"><button type="button" class="notificationIcon shadow-none bg-transparent p-0 border-0" [routerLink]="'/dashboard/wallet'"><img src="assets/svg/icons/wallet_white_color.png" class="w-100" alt="bell"></button></div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="col-12 px-0 flex-fill" data-page-name="homePage" data-scrollbar>
            <div class="row mx-0 h-100 flex-column flex-nowrap">
                <!-- <div class="col-12 px-0 cricketheader">
                    <ul class="nav row mx-0 nav-pills navtab " id="pills-tab" role="tablist">
                        <li class="nav-item col px-0" role="presentation">
                            <button class="nav-link rounded-0 text-black w-100 active"  id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><div class="gameImg mx-auto mb-1"><img src="assets/svg/icons/icon_cricket.png" class="h-100" alt="cricket"></div> <span class="gamesheading pt1 d-flex justify-content-center">Cricket</span></button>
                        </li>
                        <li class="nav-item col px-0" role="presentation">
                            <button class="nav-link rounded-0 text-black w-100"  id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><div class="gameImg mx-auto mb-1"><img src="assets/svg/icons/OverFantasyIconColor.png" class="h-100" alt="Overs"></div> <span class="gamesheading pt1 d-flex justify-content-center">Overs</span></button>
                        </li>
                        <li class="nav-item col px-0" role="presentation">
                            <button class="nav-link rounded-0 text-black w-100"  id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><div class="gameImg mx-auto mb-1"><img src="assets/svg/icons/icon_football.png" class="h-100" alt="Football"></div> <span class="gamesheading pt1 d-flex justify-content-center">Football</span></button>
                        </li>
                        <li class="nav-item col px-0" role="presentation">
                            <button class="nav-link rounded-0 text-black w-100"  id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled" type="button" role="tab" aria-controls="pills-disabled" aria-selected="false"><div class="gameImg mx-auto mb-1"><img src="assets/svg/icons/icon_basketball.png" class="h-100" alt="Basketball"></div> <span class="gamesheading pt1 d-flex justify-content-center">Basketball</span></button>
                        </li>
                    </ul>
                </div> -->
                <div id="mydiv" class="col-12 pb-4 flex-fill h-100 overflow-hidden-auto bg-light px-0">
                    <div class="tab-content tabContents" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                            <div class="row mx-0 mb-4" *ngIf="joined.length>0">
                                <div class="col-12 px-0">
                                    <div class="bgImg">
                                        <img class="w-100" src="assets/svg/img/profileBg.png" alt="">
                                    </div>
                                </div>
                                <div class="col-12 myMatchesCaraousal">
                                    <div class="matchHeading fs-6 text-white fw-bold mb-2">My Matches</div>
                                    <div id="carouselExampleInterval5" class="item col-12 carousel slide" data-bs-ride="true">
                                        <div class="carousel-indicators">
                                            <li type="button" data-bs-target="#carouselExampleInterval5"  *ngFor="let d of joined;index as i"  attr.data-bs-slide-to="{{i}}" [ngClass]="{ 'active':i === 0}"></li>
                                          </div>
                                        <div class="carousel-inner border-0 shadow-none rounded-2 position-relative bg-transparent">
                                            <div class="card matchesCard position-relative overflow-hidden border border-1 border-light bg-white carousel-item active p-0 rounded-2" style="cursor: pointer !important" [class.active]="i === 0" data-bs-interval="20000" *ngFor="let d of joined;index as i">
                                                <div class="card-body p-0">
                                                    <div class="teamHeadline row mx-0 border-bottom border-bottom-1 border-bottom-light py-1 align-items-center">
                                                        <div class="col fw-semibold matchteams text-muted px-2">{{d.series_name}}</div>
                                                    </div>
                                                    <div class="innerBody firstMatchBody pt-2">
                                                        <div class="row mx-0 align-items-center">
                                                            <div class="col-auto leftSideTeams px-2">
                                                                <div class="firstTeamsName text-black fw-bold">{{d.teamfullname1}}</div>
                                                                <div class="team d-flex align-items-center mt-2">
                                                                    <div class="teamLogo position-relative rounded-circle border border-1 border-black d-flex justify-content-center align-items-center">
                                                                        <span class="position-absolute teamCountryLogo" [style.backgroundColor]="d.team1color"></span>
                                                                        <img src={{d.team1logo}} class="w-100" alt="">
                                                                    </div>
                                                                    <div class="teamName text-uppercase text-black fw-bold ms-2">{{d.team1ShortName}}</div>
                                                                </div>
                                                                <a class="stretched-link" (click)="joinedContestDetails(d.matchkey,finalDate2[i])"></a>
                                                            </div>
                                                            <div class="col px-0 matchTimer">
                                                                <div class="pichTime text-center fw-semibold ">
                                                                    <cd-timer *ngIf="finalDate2[i]>0" [countdown]="true" [startTime]="finalDate2[i]" [format]="'user'">
                                                                          [days]d : [hours]h : [minutes]m : [seconds]s</cd-timer>
                                                                    <!-- <div *ngIf="finalDate2[i]<0">V/S</div> -->
                                                                    <div class="imgOuter mx-auto"  *ngIf="finalDate2[i]<0">
                                                                        <img class="w-100" src="assets/svg/img/vs_icon.png" alt="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-auto rightSideTeams px-2">
                                                                <div class="firstTeamsName text-black text-end fw-bold">{{d.teamfullname2}}</div>
                                                                <div class="team d-flex align-items-center mt-2">
                                                                    <div class="teamName text-uppercase text-black fw-bold me-2">{{d.team2ShortName}}</div>
                                                                    <div class="teamLogo position-relative rounded-circle border border-1 border-black d-flex justify-content-center align-items-center">
                                                                        <span class="position-absolute teamCountryLogo" [style.backgroundColor]="d.team2color"></span>
                                                                        <img src={{d.team2logo}} class="w-100" alt="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 numberOffContest mt-3 text-black">{{d.joinedcontest}} Contest Joined</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                          <button class="carousel-control-prev carouselBTN" type="button" data-bs-target="#carouselExampleInterval5" data-bs-slide="prev">
                                            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span> -->
                                          </button>
                                          <button class="carousel-control-next carouselBTN" type="button" data-bs-target="#carouselExampleInterval5" data-bs-slide="next">
                                            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span> -->
                                          </button>
                                        </div>
                                      </div>
                                </div>
                            </div>
                            <div class="row mx-0  my-4 pt-2 cardslider">
                                <!-- start -->
                                <div id="carouselExampleInterval" class="item col-12 carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner border-0 shadow-none rounded-2 position-relative bg-transparent">
                                      <div (click)="onBanner(d.bannerType)" class="carousel-item active p-0 rounded-2" style="cursor: pointer !important" [class.active]="i === 0" data-bs-interval="3000" *ngFor="let d of banner; index as i">
                                        <img src={{d.image}} class="w-100" alt="" >
                                      </div>
                                      <button class="carousel-control-prev carouselBTN" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                                        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span> -->
                                      </button>
                                      <button class="carousel-control-next carouselBTN" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                                        <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span> -->
                                      </button>
                                    </div>
                                  </div>
                                <!-- end -->
                                <!-- <div class="item col-12 px-0 carousel slide">
                                    <div class="carousel-inner card border-0 shadow-none rounded-2 position-relative bg-transparent">
                                        <div class="carousel-item active card-body p-0 rounded-2 overflow-hidden" *ngFor="let d of banner">
                                            <img src={{d.image}} class="w-100" alt="">
                                            <a class="stretched-link"></a>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="row mx-0 gap-3" >
                                <div class="col-12 mb-3">
                                    <div class="matchHeading fs-6 text-dark fw-bold">Upcoming Matches</div>
                                </div>
                                <div class="col-12" *ngFor="let d of upcoming; index as i" style="cursor: pointer" >
                                    <div class="card matchesCard overflow-hidden border border-1 border-light bg-white" (click)="onCard(d.id)">
                                        <div class="card-body p-0">
                                            <div class="teamHeadline row mx-0 border-bottom border-bottom-1 border-bottom-light py-1 align-items-center">
                                                <div class="col fw-semibold matchteams text-muted px-2">{{d.seriesname}}</div>
                                                <div class="col-auto row mx-0 px-0 align-items-center" *ngIf="d.playing11_status == 1">
                                                    <div class="col-auto pe-0"><div class="lineupsImg"><img src="assets/svg/icons/Lineups.png" class="w-100" alt=""></div></div>
                                                    <div class="col-auto px-2 fw-bold  notificationOut">Lineups Out</div>
                                                </div>
                                            </div>
                                            <div class="innerBody firstMatchBody pt-2">
                                                <div class="row mx-0 align-items-center mb-3">
                                                    <div class="col-auto leftSideTeams px-2">
                                                        <div class="firstTeamsName text-black fw-bold">{{d.teamfullname1}}</div>
                                                        <div class="team d-flex align-items-center mt-2">
                                                            <div class="teamLogo position-relative rounded-circle border border-1 border-black d-flex justify-content-center align-items-center">
                                                                <span class="position-absolute teamCountryLogo" [style.backgroundColor]="d.team1color"></span>
                                                                <img src={{d.team1logo}} class="w-100" alt="">
                                                            </div>
                                                            <div class="teamName text-uppercase text-black fw-bold ms-2">{{d.team1name}}</div>
                                                        </div>
                                                    </div>
                                                    <div class="col px-0 matchTimer">
                                                        <div class="pichTime text-center fw-semibold ">
                                                            <cd-timer *ngIf="finalDate[i]>0" [countdown]="true" [startTime]="finalDate[i]" [format]="'user'">[days]d : [hours]h : [minutes]m : [seconds]s</cd-timer>
                                                            <div *ngIf="finalDate[i]==0">Expired!!!</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto rightSideTeams px-2">
                                                        <div class="firstTeamsName text-black text-end fw-bold">{{d.teamfullname2}}</div>
                                                        <div class="team d-flex align-items-center mt-2">
                                                            <div class="teamName text-uppercase text-black fw-bold me-2">{{d.team2name}}</div>
                                                            <div class="teamLogo position-relative rounded-circle border border-1 border-black d-flex justify-content-center align-items-center">
                                                                <span class="position-absolute teamCountryLogo" [style.backgroundColor]="d.team2color"></span>
                                                                <img src={{d.team2logo}} class="w-100" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 numberOffContest1 text-black fw-bold" *ngIf="d.notify!=''">&nbsp;{{d.notify}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                            <div class="row mx-0 cardslider mb-4 mt-2">
                                <div id="carouselExampleInterval" class="item col-12 carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner border-0 shadow-none rounded-2 position-relative bg-transparent">
                                      <div (click)="onBanner(d.bannerType)" class="carousel-item active p-0 rounded-2" style="cursor: pointer !important" [class.active]="i === 0" data-bs-interval="3000" *ngFor="let d of banner; index as i">
                                        <img src={{d.image}} class="w-100" alt="" >
                                      </div>
                                      <button class="carousel-control-prev carouselBTN" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                                        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span> -->
                                      </button>
                                      <button class="carousel-control-next carouselBTN" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                                        <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span> -->
                                      </button>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
                            <div class="row mx-0">
                                <div class="col-12 fw-bold text-secondary fs-6 text-center mt-5 pt-5">Comming Soon...</div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">
                            <div class="row mx-0">
                                <div class="col-12 fw-bold text-secondary fs-6 text-center mt-5 pt-5">Comming Soon...</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="col-12 footer bottomBar d-flex align-items-center px-0">
            <div class="row mx-0 align-items-center innerBar w-100">
                <div class="col px-0 bottombarTabs text-center"><a [routerLink]="'/dashboard/home'" class="linkTab active text-decoration-none"><div class="gameImg mx-auto mb-1"><img src="assets/svg/icons/Home_Blue.png" class="h-100" alt="cricket"></div> <span class="gamesheading pt-1 d-flex justify-content-center">Home</span></a></div>
                <div class="col px-0 bottombarTabs text-center"><a [routerLink]="'/dashboard/myMatches'" (click)="api.mymatches()" class="linkTab text-decoration-none"><div class="gameImg mx-auto mb-1"><img src="assets/svg/icons/My_Matches_blue.png" class="h-100" alt="cricket"></div> <span class="gamesheading pt-1 d-flex justify-content-center">My Matches</span></a></div>
                <div class="col px-0 bottombarTabs text-center"><a [routerLink]="'/dashboard/profile'" class="linkTab text-decoration-none"><div class="gameImg mx-auto mb-1"><img src="assets/svg/icons/Profile_blue.png" class="h-100" alt="cricket"></div> <span class="gamesheading pt-1 d-flex justify-content-center">Profile</span></a></div>
                <div class="col px-0 bottombarTabs text-center"><a [routerLink]="'/dashboard/chat/'" class="linkTab text-decoration-none"><div class="gameImg mx-auto mb-1"><img src="assets/svg/chat/chaticon.svg" class="h-100" alt="cricket"></div> <span class="gamesheading pt-1 d-flex justify-content-center">Chat</span></a></div>
                <div class="col px-0 bottombarTabs text-center"><a [routerLink]="'/dashboard/more'" class="linkTab text-decoration-none"><div class="gameImg mx-auto mb-1"><img src="assets/svg/icons/More_blue.png" class="h-100" alt="cricket"></div> <span class="gamesheading pt-1 d-flex justify-content-center">More</span></a></div>
            </div>
        </footer>
    </div>

     <!-- *** [ Profile Offcanvas ] ***-->
    
    <div class="offcanvas offcanvas-start profileOffcanvas" tabindex="-1" id="offcanvasProfile" aria-labelledby="offcanvasProfileLabel">
    <div class="offcanvas-header p-0">
        <div class="offcanvas-title w-100" id="offcanvasProfileLabel">
            <div class="col-12 header profileoffcanvasHeader d-flex align-items-center px-0">
                <div class="row mx-0 innerheader align-items-center w-100">
                    <div class="col-auto profile">
                        <div class="userImage rounded-circle position-relative" data-bs-toggle="offcanvas" data-bs-target="#offcanvasProfile" aria-controls="offcanvasProfile"><img src={{userDetail.image}} class="w-100 h-100 rounded-circle" alt="Profile">
                            <div class="upload position-absolute d-inline-block">
                                <input class="form-control input-file p-0 position-absolute rounded-circle w-100 h-100" (change)="imgUp($event)" type="file" id="formFile" required="">
                                <label for="formFile" class="form-label m-0 rounded-circle w-100 h-100 bg-black d-flex justify-content-center align-items-center p-1"><img src="assets/svg/icons/img_camera.png" class="w-100" alt="Profile"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 userprofilename">
                        <div class="username fw-semibold text-white text-truncate">{{userDetail.team}}</div>
                        <div class="userMailAdd fw-semibold text-white text-truncate">{{userDetail.email}}</div>
                    </div>
                    <div class="col notification d-flex justify-content-end">
                        <a [routerLink]="'/dashboard/profile'" type="button" class="notificationIcon shadow-none bg-transparent p-0 border-0" data-bs-dismiss="offcanvas" aria-label="Close"><img src="assets/svg/icons/go_icon.png" class="w-100" alt="bell"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-body px-0">
        <div class="row g-4 innerbody mx-0">
            <div class="col-12 linkBox d-flex align-items-center position-relative">
                <div class="tagicon d-flex"><img src="assets/svg/icons/Profile_blue.png" alt="" class="w-100 h-100"></div>
                <div class="linkContent ms-3"><a [routerLink]="'/dashboard/profile'" class="text-decoration-none fw-semibold text-black stretched-link">My Profile</a></div>
            </div>
            <!-- <div class="col-12 linkBox d-flex align-items-center position-relative">
                <div class="tagicon d-flex"><img src="assets/svg/icons/side_leaderboard.png" alt="" class="w-100 h-100"></div>
                <div class="linkContent ms-3"><a [routerLink]="'/dashboard/leaderboard'" class="text-decoration-none fw-semibold text-black stretched-link">Leaderboard</a></div>
            </div> -->
            <div class="col-12 linkBox d-flex align-items-center position-relative">
                <div class="tagicon d-flex"><img src="assets/svg/icons/side_mybalance.png" alt="" class="w-100 h-100"></div>
                <div class="linkContent ms-3"><a [routerLink]="'/dashboard/wallet'" class="text-decoration-none fw-semibold text-black stretched-link">Wallet Balance</a></div>
                <div class="linkContent walletBalance d-block ms-auto fw-bold">Rs. {{wallet.totalamount}}</div>
            </div>
            <div class="col-12 border-bottom border-bottom-1 border-bottom-light"></div>
            <div class="col-12 linkBox d-flex align-items-center position-relative">
                <div class="tagicon d-flex"><img src="assets/svg/icons/side_myreferals.png" alt="" class="w-100 h-100"></div>
                <div class="linkContent ms-3"><a [routerLink]="'/dashboard/invite'" class="text-decoration-none fw-semibold text-black stretched-link">My Referrals</a></div>
            </div>
            <div class="col-12 linkBox d-flex align-items-center position-relative">
                <div class="tagicon d-flex"><img src="assets/svg/icons/side_settings.png" alt="" class="w-100 h-100"></div>
                <div class="linkContent ms-3"><a [routerLink]="'/dashboard/info-setting'" class="text-decoration-none fw-semibold text-black stretched-link">My Info & Settings</a></div>
            </div>
            <div class="col-12 linkBox d-flex align-items-center position-relative">
                <div class="tagicon d-flex"><img src="assets/svg/icons/side_pointsystem.png" alt="" class="w-100 h-100"></div>
                <div class="linkContent ms-3"><a [routerLink]="'/dashboard/point-system'" class="text-decoration-none fw-semibold text-black stretched-link">Point System</a></div>
            </div>
            <div class="col-12 border-bottom border-bottom-1 border-bottom-light"></div>
            <div class="col-12 linkBox d-flex align-items-center position-relative">
                <div class="tagicon d-flex"><img src="assets/svg/icons/side_kyc.png" alt="" class="w-100 h-100"></div>
                <div class="linkContent ms-3"><a [routerLink]="'/dashboard/kyc'" class="text-decoration-none fw-semibold text-black stretched-link">Kyc</a></div>
            </div>
            <div class="col-12 linkBox d-flex align-items-center position-relative">
                <div class="tagicon d-flex"><img src="assets/svg/icons/side_logout.png" alt="" class="w-100 h-100"></div>
                <div class="linkContent ms-3" (click)="api.logoutbtn()"><a  style="cursor:pointer" class="text-decoration-none fw-semibold text-black stretched-link">Logout</a></div>
            </div>
            <!-- (click)="onlogout()" -->
        </div>
    </div>
    <div class="offcanvas-footer profileFooter d-flex align-items-center">
        <div class="row gap-1 mx-0">
            <div class="col-12 fw-bold text-white contectText">Contact any help</div>
            <div class="col-12"><a href="javascript:;" class="text-white addlink d-flex">Email- imgtechnologies@gmail.com</a></div>
            <div class="col-12"><a href="javascript:;" class="text-white addlink d-flex">Call- +91-XXXXXXXXXX</a></div>
        </div>
    </div>
</div>
</main>