<main class="container-fluid" >
    <div class="row mainInner">
        <nav class="col-12 header d-flex align-items-center px-0">
            <div class="row mx-0 innerheader align-items-center w-100">
                <div class="col-auto notification">
                    <a (click)="api.onBack()"  type="button" class="notificationIcon shadow-none bg-transparent p-0 border-0"><img src="assets/svg/icons/leftCricleArrow.png" class="w-100" alt="bell"></a>
                </div>
                <div class="col">
                    <!-- <div class="title text-white text-center">CYS vs AF</div>
                    <div class="matchTime text-center text-white fw-semibold ">00h:50m:03s</div> -->
                </div>
                <div class="col-auto notification">
                    <a type="button" class="shadow-none bg-transparent p-0 border-0 text-white fs-12 text-decoration-none">{{status}}</a>
                </div>
            </div>
        </nav>
        <div class="col-12 px-0 flex-fill" data-page-name="liveMatchesLeaderBoardPage" data-scrollbar>
            <div class="row mx-0 h-100 flex-column flex-nowrap">
                <div class="col-12 px-0 cricketheader bg-white z-2">
                    <div class="card border-0 matchesCard overflow-hidden border border-1 border-light bg-white rounded-0">
                        <div class="card-body p-0">
                            <div class="teamHeadline align-items-center">
                                <div class="fw-semibold matchteams text-mutedb py-1 px-2 border-bottom borderlight ">Scorecard</div>
                            </div>
                            <div class="innerBody firstMatchBody p-2 pb-0 px-0"  *ngFor="let d of scorecardArr">
                                <div class="row align-items-center mx-0">
                                    <div class="col leftSideTeams px-2">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <div class="team d-flex align-items-center mt-2">
                                                    <div class="teamLogo position-relative rounded-circle border border-1 border-black d-flex justify-content-center align-items-center">
                                                        <span class="position-absolute teamCountryLogo" [style.backgroundColor]="completed.team1color"></span>
                                                        <img src={{completed.team1logo}} class="w-100" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col team text-center">
                                                <div class="teamName text-uppercase text-black fw-bold">{{d.Team1}}</div>
                                                <div class="teamName"><span class="run">{{d.Team1_Totalruns1}}</span>/<span class="wicket">{{d.Team1_Totalwickets1}}</span> <span class="overs">({{d.Team1_Totalovers1}})</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col rightSideTeams px-2">
                                        <div class="row align-items-center">
                                            <div class="col-auto  order-2">
                                                <div class="team d-flex align-items-center mt-2">
                                                    <div class="teamLogo position-relative rounded-circle border border-1 border-black d-flex justify-content-center align-items-center">
                                                        <span class="position-absolute teamCountryLogo" [style.backgroundColor]="completed.team2color"></span>
                                                        <img src={{completed.team2logo}} class="w-100" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col order-1 text-center">
                                                <div class="team">
                                                    <div class="teamName text-uppercase text-black fw-bold">{{d.Team2}}</div>
                                                    <div class="teamName"><span class="run">{{d.Team2_Totalruns1}}</span>/<span class="wicket">{{d.Team2_Totalwickets1}}</span> <span class="overs">({{d.Team2_Totalovers1}})</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center fs-10 py-1 border-bottom">{{d.Winning_Status}}</div>
                                    <div class="col-12 px-0 row mx-0 py-2">
                                        <div class="col-auto text-start"><div class="fs-12 text-black fw-semibold">Prize Pool</div><div class="fs-14 fw-bolder text-black">{{joinedContest.winamount==0?'Practice Contest':'₹'+joinedContest.winamount}}</div></div>
                                        <div class="col text-center"><div class="fs-12 text-black fw-semibold">Spots</div><div class="fs-14 fw-bolder text-black">{{joinedContest.maximum_user}}</div></div>
                                        <div class="col-auto text-center"><div class="fs-12 text-black fw-semibold">Entry Fee</div><div class="fs-14 fw-bolder text-black">{{joinedContest.entryfee==0?'Free':'₹'+joinedContest.entryfee}}</div></div>
                                    </div>
                                    <div class="col-12 px-0 cricketheader bg-white z-1">
                                        <ul class="nav row mx-0 nav-pills navtab " id="pills-tab" role="tablist">
                                            <li class="nav-item col px-0" role="presentation">
                                                <button class="nav-link py-3 rounded-0 text-black w-100 border-0" (click)="changeTab('tab1')" [ngClass]="tabComp=='tab1'?'active':''" id="prizeBreakup-tab" data-bs-toggle="pill" data-bs-target="#prizeBreakup" type="button" role="tab" aria-controls="prizeBreakup" aria-selected="true">
                                                    <span class="gamesheading pt1 d-flex justify-content-center">Prize Breakup</span>
                                                </button>
                                            </li>
                                            <li class="nav-item col px-0" role="presentation">
                                                <button class="nav-link py-3 rounded-0 text-black w-100 border-0" (click)="changeTab('tab2')" [ngClass]="tabComp=='tab2'?'active':''" id="myRank-tab" data-bs-toggle="pill" data-bs-target="#myRank" type="button" role="tab" aria-controls="myRank" aria-selected="false">
                                                    <span class="gamesheading pt1 d-flex justify-content-center">My Rank</span>
                                                </button>
                                            </li>
                                            <li class="nav-item col px-0" role="presentation">
                                                <button class="nav-link py-3 rounded-0 text-black w-100 border-0" (click)="changeTab('tab3')" [ngClass]="tabComp=='tab3'?'active':''" id="playerStatus-tab" data-bs-toggle="pill" data-bs-target="#playerStatus" type="button" role="tab" aria-controls="playerStatus" aria-selected="false">
                                                    <span class="gamesheading pt1 d-flex justify-content-center">Player Stats</span>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 flex-fill h-100 overflow-hidden-auto">
                    <div class="row" >
                        <div class="col-12">
                            <div class="tab-content tabContents h-100" id="pills-tabContent">
                                <div class="tab-pane fade h-100" [ngClass]="tabComp=='tab1'?' show active':''" id="prizeBreakup" role="tabpanel" aria-labelledby="prizeBreakup-tab" tabindex="0">
                                    <div class="row h-100 gap-2">
                                        <div class="col-12 px-0 border-bottom border-1 border-dark">
                                            <table class="table border-0 m-0">
                                                <thead class="bg-secondary bg-opacity-75 text-white fs-12">
                                                  <tr>
                                                    <th scope="col" class="text-start">RANK</th>
                                                    <th scope="col" class="text-end">Prize</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr class="" *ngFor="let d of pricecard">
                                                    <td>
                                                        <div class="teamDetail text-start">
                                                            <div class="teamName text-black fs-12">Rank: {{d.start_position}}</div>
                                                        </div>
                                                    </td>
                                                    <td class="text-end">
                                                        <div class="winningAmount fs-12">₹ {{d.price}}</div>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                        </div>
                                        <div class="col-12 px-1">
                                            <div class="dec fs-12 text-center">Note: The actual price money may be different than the prize money mentioned above if there is a tie for any of the winning position. Check FAQs for futher deatils. As per govrenment regulations, a tax of 31.2% will be deducted if an individual wins more than ₹ 10,000.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade h-100" [ngClass]="tabComp=='tab2'?' show active':''" id="myRank" role="tabpanel" aria-labelledby="myRank-tab" tabindex="0">
                                    <div>
                                    <div class="row h-100">
                                        <div class="col-12 px-0">
                                            <table class="table border-0 mb-0">
                                                <thead class="bg-secondary bg-opacity-75 text-white fs-12">
                                                  <tr>
                                                    <th scope="col" class="d-flex gap-2">Team Name <div class="icon"><img class="w-100" src="assets/svg/icons/downloadicon.png" alt=""></div></th>
                                                    <th scope="col" class="text-center">Winning</th>
                                                    <th scope="col" class="text-center">Rank</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr class="position-relative" *ngFor="let d of myRank" [ngStyle]="{'cursor' : d.teamname == userdetail.team ? 'pointer':''}" [ngClass]="{'bg-success' : d.teamname == userdetail.team,'bg-opacity-25' : d.teamname == userdetail.team}">
                                                    <td>
                                                        <div class="teamDetail d-flex align-items-center gap-2">
                                                            <div class="imgOuter rounded-circle overflow-hidden">
                                                                <img class="w-100 h-100" src={{d.image}} alt="">
                                                            </div>
                                                            <div class="teamName text-black fs-10">{{d.teamname}} ({{d.teamnumber}}) <br>
                                                                <span class="">Points: {{d.points}}</span>
                                                            </div>
                                                            <a (click)="viewTeam(d)" class="stretched-link"></a>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="winningAmount">{{d.winingamount}}</div>
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="myRank fs-12">
                                                            #{{d.getcurrentrank}} 
                                                        </div> 
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                              <div *ngIf="dataCheck" class="text-center">
                                                  <button class="btn btn-primary btn-sm mt-2" (click)="loadMore()" >Load More</button>
                                              </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade h-100" [ngClass]="tabComp=='tab3'?' show active':''" id="playerStatus" role="tabpanel" aria-labelledby="playerStatus-tab" tabindex="0">
                                    <div class="row h-100">
                                        <div class="col-12 px-0">
                                            <table class="table border-0 mb-0">
                                                <thead class="bg-secondary bg-opacity-75 text-white fs-12">
                                                  <tr>
                                                    <th scope="col" class="d-flex gap-2">Player</th>
                                                    <th scope="col" class="text-center">Type</th>
                                                    <th scope="col" class="text-center">Team</th>
                                                    <th scope="col" class="text-center">Points</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="position-relative" *ngFor="let d of PlayingStats">
                                                    <td class="pb-0 border-bottom">
                                                        <div class="teamDetail d-flex align-items-center gap-2">
                                                            <div class="imgOuter overflow-hidden">
                                                                <img class="w-100 h-100" src={{d.image}} alt="">
                                                            </div>
                                                            <div class="teamName text-black fs-10">{{d.name}}</div>
                                                            <a  (click)="onplayerInfo(d.playerid)" style="cursor:pointer" class="stretched-link"></a>
                                                        </div>
                                                    </td>
                                                    <td class="text-center pb-0 border-bottom">
                                                        <div class="winningAmount fs-12" *ngIf="d.role == 'keeper'">WK</div>
                                                        <div class="winningAmount fs-12" *ngIf="d.role == 'batsman'">BAT</div>
                                                        <div class="winningAmount fs-12" *ngIf="d.role == 'allrounder'">AR</div>
                                                        <div class="winningAmount fs-12" *ngIf="d.role == 'bowler'">BOWL</div>
                                                    </td>
                                                    <td class="text-center pb-0 border-bottom">
                                                        <div class="fs-12">
                                                           {{d.team_short_name}}
                                                        </div>
                                                    </td>
                                                    <td class="text-center pb-0 border-bottom">
                                                        <div class="myRank fs-12">
                                                            {{d.points}}
                                                        </div>
                                                    </td>
                                                    </tr>
                                                   
                                                </tbody>
                                              </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <footer class="col-12 footer bottomBar d-flex align-items-center">
            <div class="row mx-0 align-items-center innerBar w-100">
                <div class="col px-0 bottombarTabs text-center"><a href="home.html" class="linkTab text-decoration-none"><div class="gameImg mx-auto mb-1"><img src="assets/svg/icons/Home_Blue.png" class="h-100" alt="cricket"></div> <span class="gamesheading pt-1 d-flex justify-content-center">Home</span></a></div>
                <div class="col px-0 bottombarTabs text-center"><a href="myMatches.html" class="linkTab active text-decoration-none"><div class="gameImg mx-auto mb-1"><img src="assets/svg/icons/My_Matches_blue.png" class="h-100" alt="cricket"></div> <span class="gamesheading pt-1 d-flex justify-content-center">My Matches</span></a></div>
                 <div class="col px-0 bottombarTabs text-center"><a href="profile.html" class="linkTab text-decoration-none"><div class="gameImg mx-auto mb-1"><img src="assets/svg/icons/Profile_blue.png" class="h-100" alt="cricket"></div> <span class="gamesheading pt-1 d-flex justify-content-center">Profile</span></a></div>
                <div class="col px-0 bottombarTabs text-center"><a href="otherMenu.html" class="linkTab text-decoration-none"><div class="gameImg mx-auto mb-1"><img src="assets/svg/icons/More_blue.png" class="h-100" alt="cricket"></div> <span class="gamesheading pt-1 d-flex justify-content-center">More</span></a></div>
            </div>
        </footer> -->
    </div>
</main>