<main class="container-fluid">
    <div class="row mainInner bg-white">
        <nav class="col-12 header d-flex align-items-center px-0">
            <div class="row mx-0 innerheader align-items-center w-100">
                <div class="col-auto notification">
                    <a (click)="onBack()" type="button" class="notificationIcon shadow-none bg-transparent p-0 border-0"><img src="assets/svg/icons/leftCricleArrow.png" class="w-100" alt="bell"></a>
                </div>
                <div class="col"><div class="title text-white text-center">{{match.team1name}} vs {{match.team2name}}</div><div class="title text-white text-center"><cd-timer *ngIf="finalDate>0" [countdown]="true" [startTime]="finalDate" [format]="'user'">[days]d : [hours]h : [minutes]m : [seconds]s</cd-timer></div></div>
                <div class="col-auto notification">
                    <a [routerLink]="'/dashboard/wallet'" type="button" class="notificationIcon shadow-none bg-transparent p-0 border-0"><img src="assets/svg/icons/wallet_white_color.png" class="w-100" alt="bell"></a>
                </div>
            </div>
        </nav>
        <div class="col-12 px-0 flex-fill" data-page-name="createContestsPage" data-scrollbar>
            <div class="row mainCenterPart mx-0 pb-4 h-100 flex-column flex-nowrap">
                    <div class="col-12 px-0 bg-white verifyNav py-1">
                        <ul class="nav nav-pills navTabs row mx-0" id="pills-tab" role="tablist">
                            <li class="nav-item col px-0" role="presentation"><button class="nav-link rounded-0 bg-white text-muted w-100 fw-semibold active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Create Contests</button></li>
                            <li class="nav-item col px-0" role="presentation"><button class="nav-link rounded-0 bg-white text-muted w-100 fw-semibold" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Join By Code</button></li> 
                        </ul>
                    </div>
                    <div class="col-12 flex-fill h-100 overflow-y-auto">
                        <div class="tab-content navContent" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                                <div class="row mx-0 py-3 g-3">
                                    <div class="col-12 px-0">
                                        <div class="card border-0 contestCard">
                                            <form class="card-body row mx-0 px-2 g3" [formGroup]="privateContest">
                                                <div class="col-12 form-floating">
                                                    <input type="text" formControlName="name" class="form-control shadow-none fw-bold border-0 border-bottom border-bottom-1 rounded-0" id="floatingInput" placeholder="Give your contest a cool name">
                                                    <label for="floatingInput" class="formLabel fw-bold">Give your contest a name</label>
                                                    <div class="otpverfication text-danger fw-bold" *ngIf="f['name'].touched && f['name'].errors?.['required']">*Contest Name Required</div>
                                                    <div class="invaildLabel fw-bold text-black-50">Give your contest a cool name</div>
                                                </div>
                                                <div class="col-12 form-floating">
                                                    <input type="tel" formControlName="winning" (keypress)="keyPressNumbers($event)" (keyup)="calculate($event,'winning')" class="form-control shadow-none fw-bold border-0 border-bottom border-bottom-1 rounded-0" id="amount" placeholder="Total winning amount (Rs)">
                                                    <label for="amount" class="formLabel fw-bold">Total winning amount (Rs)</label>
                                                    <div class="otpverfication text-danger fw-bold" *ngIf="f['winning'].touched && f['winning'].errors?.['required']">*Winning Amount Required</div>
                                                    <div class="invaildLabel fw-bold text-black-50">min 0</div> 
                                                </div>
                                                <div class="col-12 form-floating">
                                                    <input type="tel" formControlName="teams" (keypress)="keyPressNumbers($event)" (keyup)="calculate($event,'teams')" class="form-control shadow-none fw-bold border-0 border-bottom border-bottom-1 rounded-0" id="contestsize" placeholder="Contest Size">
                                                    <label for="contestsize" class="formLabel fw-bold">Contest Size</label>
                                                    <div class="otpverfication text-danger fw-bold" *ngIf="f['teams'].touched && f['teams'].errors?.['required']">*Contest Size Required</div>
                                                    <div class="invaildLabel fw-bold text-black-50">min 2</div> 
                                                </div>
                                                <div class="col-12 px-0 mt-4">
                                                    <div class="row mx-0 align-items-center">
                                                        <div class="col fw-bold text-black joinMultiple">Allow friends to join multiple teams</div>
                                                        <div class="col-auto checkBoxBtn"><div class="check-box"><input type="checkbox" formControlName="check"></div></div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-12 px-0">
                                        <div class="card border-0 contestCard">
                                            <div class="card-body row mx-0 px-0 gap-2 text-center">
                                                <div class="col-12 text-muted fw-bold enteryFee">Entry Fee Per Team:<span class="text-danger">₹ {{value=='NaN'||value=='Infinity'||value=='0'?'0.00':value}}</span></div>
                                                <div class="col-12 text-muted fw-bold enteryFee">Enter Fee is calculated based on the total prize amount and & contest size</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 px-0"><button class="btn text-white fw-semibold rounded-0 w-100 footerBtn fixed-bottom" [ngClass]="this.privateContest.valid?'btn-primary':' btn-secondary'"  (click)="onSubmit()">Create Contests & Invites Friends</button></div>
                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                                <div class="row mx-0 py-3 g-3">
                                    <div class="col-12 fw-semibold text-black inviteContest">If You have a contest invite code, enter it and join</div>
                                    <div class="col-12 px-0">
                                        <div class="card border-0 contestCard">
                                            <form class="card-body row mx-0 px-2 gap-2 pt-1" [formGroup]="referCode">
                                                <div class="col-12 form-floating">
                                                    <input type="text" formControlName="code" class="form-control shadow-none fw-bold border-0 border-bottom border-bottom-1 rounded-0" id="floatingInput" placeholder="Invite Code">
                                                    <label for="floatingInput" class="formLabel fw-bold">Invite Code</label>
                                                    <div class="otpverfication text-danger fw-bold" *ngIf="f2['code'].touched && f2['code'].errors?.['required']">*Refer Code Required</div>
                                                </div>
                                                <div class="col-12"><button type="submit" class="btn btn-sm btnStyle2 text-center w-100 text-uppercase text-white" (click)="onRefer()">JOIN THIS CONTEST</button></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <button type="button" class="btn btn-success border-0 btnSuccess text-white" id="openModal" onclick="event.stopPropagation()" data-bs-toggle="modal" data-bs-target="#exampleModal" [hidden]="true">join</button>
        <div class="modal fade bg-black confermationModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content border-0 rounded-4">
                <div class="modal-header border-0">
                    <div class="modal-title" id="exampleModalLabel">
                        <div class="confiramtionHeading fw-semibold text-black fs-6">CONFIRMATION</div>
                        <div class="balance fw-semibold">Unutilized Balance + Winnings = ₹{{usableBalanceArr.usablebalance}}</div>
                    </div>
                    
                    <button type="button" class="shadow-none border-0 bg-transparent p-0" data-bs-dismiss="modal" aria-label="Close"><img src="assets/svg/icons/close-_icon.svg" class="w-100" alt=""></button>
                </div>
                <div class="modal-body row mx-0">
                    <div class="col-12 px-0 row mx-0 align-items-center">
                        <div class="col leftEntery fw-semibold px-0">Entry</div>
                        <div class="col-auto prich fw-semibold pe-0">₹ {{usableBalanceArr.entryfee}}</div>
                    </div>
                    <div class="col-12 px-0 row mx-0 align-items-center bonus pb-1">
                        <div class="col leftEntery fw-semibold px-0">Usable Cash Bonus</div>
                        <div class="col-auto prich fw-semibold pe-0">- ₹ {{usableBalanceArr.bonus}}</div>
                    </div>
                    <div class="col-12 px-0 row mx-0 align-items-center mt-3 mb-2 payAmount">
                        <div class="col leftEntery fw-semibold px-0">To Pay</div>
                        <div class="col-auto prich fw-semibold pe-0">₹ {{usableBalanceArr.entryfee- usableBalanceArr.bonus}}</div>
                    </div>
                    <div class="col-12 joinAddress fw-semibold text-center">By joining this contest,you accept ImgFantasy's T&C and confirm that you are not a resident of Assam, Odhissa, Telangana, Nagaland & Sikkim.</div>
                </div>
                <div class="modal-footer border-0 justify-content-center">
                    <button class="invite btn btn-success px-5 text-white btn-sm fs-6" (click)="joincontest()">JOIN CONTEST</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</main>